.chatInput {
  border-radius: 20px;
  height: 100%;
}
.chatInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}
.chatInput > form > input {
  margin: 2px;
  background-color: #fff;
  left: 0;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
.chatInput > form > button {
  margin-left: 3px;
  margin-right: 3px;
  background-color: #41a046;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
}
.chatInput > form > button:hover {
  background-color: #2a9e57;
}
.send-btn {
  width: 80px;
  font-size: 1rem;
}
.btn-emoji {
  width: 70px;
  font-size: 2.4rem;
}
.emoji-picker {
  position: absolute;
  bottom: 70px;
  left: 5px;
  margin: 2px;
}
