.chat-container {
  display: flex;
  bottom: 0px;
  background-color: red;
}
.channel-wrap {
  display: block;
  height: 100%;
  width: 50%;
}
.chat-wrap {
  width: 50%;
  display: block;
  right: 50px;
  margin-left: 50px;
}

.chat__header {
  border-style: solid;
  border-width: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-color: #6bd470;
  background-color: #6bd470;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.chat__channelName {
  text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat__headerRight > p {
  align-items: center;
  font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}

.chat__messages {
  border-right-width: 3px;
  border-left-width: 3px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #6bd470;
  /* border: 5px dotted #6bd470; */
  overflow-y: scroll;
  position: relative;
  padding-bottom: 20px;
  height: 600px;
}

.chat-input {
  position: relative;
}
