.chatInput {
  border-radius: 20px;
  height: 100%;
  /* width: auto; */
}

.chatInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.chatInput > form > input {
  border-width: 3px;
  border-style: solid;
  border-color: #6bd470;
  background-color: #fff;
  left: 0;
  border-radius: 3px;
  padding: 20px;
  width: 100%;
  /* flex: 0.7; */
}

.chatInput > form > input:hover {
  border-color: #6bd470;
}

.chatInput > form > button {
  border-right-width: 3px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 3px;
  border-color: #6bd470;
  background-color: #6bd470;
  text-align: center;
  width: 80px;
}
